# Ignore everything
*

# Whitelist Plugin Files
!ollama-api/
!ollama-api/*
!launch-unsloth.ps1
!launch-unsloth.sh
!unsloth.ico
!Unsloth Studio.lnk

# Reignore settings.json
ollama-api/settings.json
ollama-api/__pycache__/

# Whitelist root files
!.gitignore
!README.md